__pycache__/
db.sqlite3
.idea/
venv/
.venv/
staticfiles/

.vs
*.sln
*.pyproj
*.pyproj.*
scraper/WebScaper.py
*.txt
*.xml
scraper/geckodriver.log
scraper/Output/all/all_comments.xml
scraper/Output/all/all_comments.txt
scraper/WebScaper.py
scraper/saveXML.py
