.positive-review{
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    border-radius: 20px;
    color: #4EC803;
}

.negative-review{
    border-top: 2px solid var(--pink-ish);
    border-bottom: 2px solid var(--pink-ish);
    border-radius: 20px;
    color: var(--pink-ish);
}

.positive-review-header{
    color: var(--green);
    border-bottom: 1px solid var(--green);
    border-radius: 5px;
}

.negative-review-header{
    color: var(--pink-ish);
    border-bottom: 1px solid var(--pink-ish);
    border-radius: 5px;
}


#item_name{
    background-color: var(--light-black);
    border-radius: 5px;
}